body {
  background-color: $background-color;
}

.card {
  background-color: #2F3B52;
  box-shadow: $shadow;
  padding: 1.5rem;
  transition: transform 200ms ease-in-out;

  &.clickable:hover {
    transform: scale(1.01);
  }
}
