// Colors:
$background-color: #242E42;
$accent-color: #1F8EFA;
$dark-gray: #3E4E6C;
$gray: #44556B;
$light-gray: #70889E;
$white: #fff;

$error: #EE423D;
$success: #05C985;

$nav-width: 200px;

$shadow: 0px 6px 13px rgba(21, 33, 56, 0.533345);
